<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.first.dao.CollegeMapper">
  <resultMap id="BaseResultMap" type="com.first.bean.College">
    <id column="collegeid" jdbcType="INTEGER" property="collegeid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.first.bean.CollegeWithBLOBs">
    <result column="introduction" jdbcType="LONGVARCHAR" property="introduction" />
    <result column="aims" jdbcType="LONGVARCHAR" property="aims" />
    <result column="talenttrainingplan" jdbcType="LONGVARCHAR" property="talenttrainingplan" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    collegeid, name
  </sql>
  <sql id="Blob_Column_List">
    introduction, aims, talenttrainingplan
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.first.bean.CollegeExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from college
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.first.bean.CollegeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from college
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from college
    where collegeid = #{collegeid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from college
    where collegeid = #{collegeid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.first.bean.CollegeExample">
    delete from college
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.first.bean.CollegeWithBLOBs">
    insert into college (collegeid, name, introduction, 
      aims, talenttrainingplan)
    values (#{collegeid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{introduction,jdbcType=LONGVARCHAR}, 
      #{aims,jdbcType=LONGVARCHAR}, #{talenttrainingplan,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.first.bean.CollegeWithBLOBs">
    insert into college
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="collegeid != null">
        collegeid,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="introduction != null">
        introduction,
      </if>
      <if test="aims != null">
        aims,
      </if>
      <if test="talenttrainingplan != null">
        talenttrainingplan,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="collegeid != null">
        #{collegeid,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null">
        #{introduction,jdbcType=LONGVARCHAR},
      </if>
      <if test="aims != null">
        #{aims,jdbcType=LONGVARCHAR},
      </if>
      <if test="talenttrainingplan != null">
        #{talenttrainingplan,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.first.bean.CollegeExample" resultType="java.lang.Long">
    select count(*) from college
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update college
    <set>
      <if test="record.collegeid != null">
        collegeid = #{record.collegeid,jdbcType=INTEGER},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.introduction != null">
        introduction = #{record.introduction,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.aims != null">
        aims = #{record.aims,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.talenttrainingplan != null">
        talenttrainingplan = #{record.talenttrainingplan,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update college
    set collegeid = #{record.collegeid,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      introduction = #{record.introduction,jdbcType=LONGVARCHAR},
      aims = #{record.aims,jdbcType=LONGVARCHAR},
      talenttrainingplan = #{record.talenttrainingplan,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update college
    set collegeid = #{record.collegeid,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.first.bean.CollegeWithBLOBs">
    update college
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null">
        introduction = #{introduction,jdbcType=LONGVARCHAR},
      </if>
      <if test="aims != null">
        aims = #{aims,jdbcType=LONGVARCHAR},
      </if>
      <if test="talenttrainingplan != null">
        talenttrainingplan = #{talenttrainingplan,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where collegeid = #{collegeid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.first.bean.CollegeWithBLOBs">
    update college
    set name = #{name,jdbcType=VARCHAR},
      introduction = #{introduction,jdbcType=LONGVARCHAR},
      aims = #{aims,jdbcType=LONGVARCHAR},
      talenttrainingplan = #{talenttrainingplan,jdbcType=LONGVARCHAR}
    where collegeid = #{collegeid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.first.bean.College">
    update college
    set name = #{name,jdbcType=VARCHAR}
    where collegeid = #{collegeid,jdbcType=INTEGER}
  </update>
</mapper>